# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Conda
.env
.conda
conda-meta/
env/
envs/
*.conda

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
